body{
    margin: 0;
    height: 100vh;
}

.header{
    background-color: #1F2937;
    height: 535px;
    padding-left: 150px;
    padding-right: 150px;
}

.header-container-1 {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header-links{
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

a {
    padding: 10px;
}

.header-container-2{
    display: flex;
    justify-content: space-between;
    padding-top: 110px;
}

.header-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    width: 400px;
}

.header-subtext {
    font-size: 18px;
    color: #E5E7EB;
    width: 400px;
    padding-bottom: 10px;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bolder;
    font-size: large;
    border-radius: 10px;
    border: none;
    width: 130px;
    height: 35px;
}

#art-image {
    width: 530px;
    height: 250px;
    text-align:center;
    color: white;
    line-height: 265px;
    border-radius: 5px;
}

.section-2 {
    height: 500px;
}

.info {
    font-size: 36px;
    font-weight: bolder;
}

.picture-container {
   
}

#dragon-image {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
#fence-image {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
#wall-image {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
#color-image {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
